<% provide :title, t(".home") %>
<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary"><%= t ".popular-category" %></h2>
      </div>
    </div>

    <div class="row align-items-stretch">
      <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <a href="#" class="popular-category h-100">
          <span class="icon mb-3"><span class="flaticon-hotel"></span></span>
          <span class="caption mb-2 d-block"><%= t ".hotels" %></span>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <a href="#" class="popular-category h-100">
          <span class="icon mb-3"><span class="flaticon-cutlery"></span></span>
          <span class="caption mb-2 d-block"><%= t ".restaurants" %></span>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <a href="#" class="popular-category h-100">
          <span class="icon mb-3"><span class="flaticon-bike"></span></span>
          <span class="caption mb-2 d-block"><%= t ".other" %></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section" >
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary"><%= t ".popular-places" %></h2>
      </div>
    </div>

    <div class="row">
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary"><%= t ".popular-posts" %></h2>
      </div>
    </div>
    <div class="row mb-3 align-items-stretch">
    </div>
  </div>
</div>

