<% provide :title, @user.username %>
<% provide :header_partial, "shared/header_partial/title" %>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <div class="card">
          <div class="card-body">
            <%= gravatar_for @user %>
            <strong><%= @user.username %></strong>
            <hr>
            <strong><span><%= @user.posts.count %></span></strong>
            <%= t("label.posts") %>
          </div>
        </div>
    </aside>
   <div class="col-md-8">
    <% if @user.posts.any? %>

      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= paginate @posts, theme: "twitter-bootstrap-4" %>
    <% end %>
  </div>
</div>
