<% provide :title, @user.username %>
<% provide :header_partial, "shared/header_partial/title" %>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <div class="card card-profile">
          <div class="card-body">
            <%= gravatar_for @user %>
            <strong><%= link_to @user.username, @user %></strong>
            <hr>
            <section class="stats">
              <%= render "shared/stats" %>
            </section>
            <hr>
            <%= render "follow_form" if logged_in? %>
          </div>
        </div>
      </aside>

      <div class="col-md-8">
        <% if @user.posts.any? %>
          <ol class="posts">
            <%= render @posts %>
          </ol>
          <%= paginate @posts, theme: "twitter-bootstrap-4" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
