<%if user_signed_in? %>
  <div  class="card card-body up-post-card">
  <%= form_for current_user.posts.build, html: {multipart: true} do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="row">
      <div class="col-sm-4">
        <%= label_tag :City, nil, class: "text-black" %>
        <%= text_field_tag :city_name, nil, data: { autocomplete_source: cities_path},class: "form-control"%>
        <div id = "err_city_name"></div>
      </div>
      <div class="col-sm-4">
        <%= f.label :Travel_Place, class: "text-black" %>
        <%= f.text_field :travel_place_name, class: "form-control"%>
        <%= f.hidden_field :travel_place_id, value: nil, id: "travel_place_id" %>
        <div id = "err_place_name"></div>
      </div>
    </div>

    <div class="field">
      <%= f.label :Title, class: "text-black" %>
      <%= f.text_field :title, class: "form-control",id: 'post_travel_place_name' %>
    </div>
    <div class="field">
       <%= f.label :Content, class: "text-black" %>
      <%= f.cktext_area :content, placeholder: t("label.post_content"),class: "ckeditor" %>
    </div>

    <%= f.fields_for :Post_Images do |p| %>
      <div class="field">
        <%= p.label :post_images %><br>
        <%= p.file_field :image, multiple: true, name: "post_images[image][]", accept: "image/jpeg,image/gif,image/png", class: "upload-image" %>
      </div>
    <% end %>
    <div id="preview"></div>
    <%= f.submit t("button.post"), class: "btn btn-primary" %>
  <% end %>
  </div>
<% end %>

<%= javascript_include_tag Ckeditor.cdn_url %>
<%= javascript_include_tag("custom") %>
