<% provide :title, t("page_title.login") %>
<% provide :header_partial, "shared/header_partial/title" %>

<div class="site-section bg-light">

  <div class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3">
        <%= form_for resource, as: resource_name, url: session_path(resource_name),
        html: {class: "p-5 bg-white",style: "margin-top: -150px;"} do |f| %>
          <div class="row form-group">
            <div class="col-md-12">
              <%= f.label t("label.email"), class: "text-black" %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <%= f.label t("label.password"), class: "text-black" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>

           <% if devise_mapping.rememberable? %>
          <div class="row form-group">
            <div class="col-md-12">
              <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span><%= t"label.remember_me" %></span>
              <% end %>
            </div>
          </div>
            <% end %>

          <div class="row form-group">
            <div class="col-md-12">
              <%= f.submit t("button.login"), class: "btn btn-primary btn-md text-white" %>
            </div>
          </div>
          <%= link_to t("page_title.sign-in-fb"), user_facebook_omniauth_authorize_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
