<% provide :title, t(".title") %>
<% provide :header_partial, "shared/header_partial/title" %>

<div class="site-section bg-light">
    <div class="container">
            <div class="list_post">
                <% if @hotels.nil? %>
                  <h1>Not Found!</h1>
                <% else %>
                  <% @hotels.each  do |hotel| %>
                  <div class="d-block d-md-flex listing-horizontal">

                      <a href="#" class="img d-block">
                      <% if hotel.travel_place_images.first %>
                          <%= image_tag(hotel.travel_place_images.first.link, class: "img-fluid") %>
                      <% end %>
                      <span class="category"><%= hotel.type_travel_place.name %></span>
                      </a>

                      <div class="lh-content">
                          <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                          <h3><%= link_to hotel.name, "#" %></h3>
                          <p><%= hotel.address %></p>
                      </div>
                  </div>
                  <% end %>
                <% end %>
            </div>
    </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary"><%= t ".popular-category" %></h2>
      </div>
    </div>

    <div class="row align-items-stretch">
      <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <%= link_to "#", class: "popular-category h-100" do %>
          <span class="icon mb-3"><span class="flaticon-hotel"></span></span>
          <span class="caption mb-2 d-block"><%= t ".hotels" %></span>
        <% end %>
      </div>
      <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <%= link_to "#", class: "popular-category h-100" do %>
          <span class="icon mb-3"><span class="flaticon-cutlery"></span></span>
          <span class="caption mb-2 d-block"><%= t ".restaurants" %></span>
        <% end %>
      </div>
      <div class="col-6 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <%= link_to "#", class: "popular-category h-100" do %>
          <span class="icon mb-3"><span class="flaticon-bike"></span></span>
          <span class="caption mb-2 d-block"><%= t ".other" %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

